body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: start;
}

.container-catalog {
  margin: 0 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
